page-channel-list {
    ion-card.blurred-title-card {
        position: relative;
        margin-left: -25px;
        margin-right: -5px;
        margin-top: 0px;
        margin-bottom: 2px;
        width: 100vw;


        .card-image {
            width: 100vw;
            margin-left: -10px;
            height: 60vw;
            background-position: top;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .card-title-background,
        .card-title {
            position: absolute;
            width: 100%;
            height: 60px;
            bottom: 0;
            left: 0;
            margin: 0;
            overflow: hidden;
            color: black;
            text-align: right;
        }

        .card-title-background span {
            position: absolute;
            width: 100%;
            height: 60vw;
            bottom: 0;
            left: 0;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            -webkit-filter: blur(5px);
            -moz-filter: blur(5px);
            -o-filter: blur(5px);
            -ms-filter: blur(5px);
            filter: blur(5px);
        }

        .card-title {
            padding: 10px;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-align-content: stretch;
            -ms-flex-line-pack: stretch;
            align-content: stretch;
            -webkit-align-items: flex-start;
            -ms-flex-align: start;
            align-items: flex-start;


        }

        p {
            line-height: 100%;
            font-size: 1em;
            font-weight: normal;
            width: 100%;
            color: black !important;
        }

    }
}
