page-fight-card2 {

    .center001{
        text-align: center;
        background-color: #E4E4E4;
    }

    .center002{
        color: red;
        text-align: center;
        background-color: #E4E4E4;
    }

    .no-padding{
        padding: 0px!important;
    }

    .fontRed{
        background: gold!important;
        border:  solid black thin;
        border-color: black;
    }

}
