page-fight-event-list {


    .container {
        position: relative;
        text-align: center;
        color: white;
    }

    /* Bottom left text */
    .bottom-right {
        position: absolute;
        bottom: 8px;
        left : 15%;
        font-family: 'Bree Serif', serif;;

    }
}
